{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Confirm password 
{% endblock title %}

{% block main-content %}

<div class="container my-5">
<div class="row">
<h3>Password Confirm</h3>
<hr>
<div class="col-sm-9 offset-sm-1">
<form action=""  novalidate method="post" class="shadow p-5">
    {% csrf_token %}
    {% for fm in form %}
    {{fm.label_tag}}  {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>

    {% endfor %}
    <input type="submit" value="Confirm Change" class="btn btn-primary">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger">{{error}}</p>
    {% endfor %}
    {% endif %}
</form>
</div>
</div>
</div>
{% endblock main-content %}